<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        h1{
            text-align: center;
        }
        img {
            padding: 10px;
        }
    </style>

    <h1>Lost Trail Webcams</h1>

    <img alt="US 93: Lost Trail Pass: Northwest View" src="https://idcam.carsprogram.org/station3009cam3.jpg?1636579980000" style="display: block; margin-left: auto; margin-right: auto;">
    <img alt="US 93: Lost Trail Pass: Southeast View" src="https://idcam.carsprogram.org/station3009cam2.jpg?1636580040000" style="display: block; margin-left: auto; margin-right: auto;">
    <img alt="US 93: Lost Trail Pass: Pavement" src="https://idcam.carsprogram.org/station3009cam1.jpg?1636580100000" style="display: block; margin-left: auto; margin-right: auto;">

</head>
<style>
    body{
        background-color:rgb(0, 240, 240);
    }
</style>
<body>
    
</body>
</html>